@keyframes cloud-slide {
    from {
        transform: translateX(90vw);
    }
    to {
        transform: translateX(-320vw);
    }
}



.cloudeffect{
    top: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
    opacity: 0.5;
}

.cloud{
    position: fixed;
    display: inline-block;
    height: 50rem;
    user-select: none;
    pointer-events: none;
    animation: cloud-slide 100s linear infinite;
}
.cloud2{
    position:fixed;
    display: inline-block;
    height: 50rem;
    user-select: none;
    pointer-events: none;
    animation: cloud-slide 70s linear infinite;
}

.cloud-image{
    height: inherit;
}
