.currentweather{
    grid-area: current;
    text-align: center;
    font-size: 2.4rem;
}
div.current-city{
    cursor: pointer;
    font-size: 3.5rem;
}
.current-city > span{
    padding-right: 2rem;
}
div.current-temp, .current-temp>.icon-temp{
    padding-top: 0;
    font-size: 5rem;
    padding-right: 1rem;
    margin-top: -1rem;
}
.currentweather p{
    margin: 1.1rem 0;
}
.current-icon.iconfont{
    font-size: 6rem;
}